spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_null

  thymeleaf:
    suffix: .html
    prefix: classpath:/templates/

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/zerobasedb?characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: '!@#ajun1173'

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: benzen903@gmail.com
    password: kvimyqjnfkauyofe
    properties:
      mail:
        smtp:
          starttls:
            enable: true

logging:
  level:
    root: info
#mybatis 설정
mybatis:
  mapper-locations: mybatis/**/*.xml #my batis 밑에 잇는 xml파일로 설정
  configuration:
    map-underscore-to-camel-case: true #스네이크 표기법을 카멜표기법으로 표현가능하게
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


