spring:
  thymeleaf:
    suffix: .html
    prefix: classpath:/templates/

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/zerobasedb?characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: '!@#ajun1173'

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: benzen903@gmail.com
    password: kvimyqjnfkauyofe
    properties:
      mail:
        smtp:
          starttls:
            enable: true

logging:
  level:
    root: info