<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>

</head>
<body>
<h1>관리자 회원 관리 - 회원 상세 정보</h1>
<div>
    <a href="/admin/main">관리자 메인</a>
    <a href="/admin/member/list.do">회원 관리 목록</a>
    <a href="#">카테고리 관리</a>
    <a href="#">강의 관리</a>
    <a href="/member/logout">로그아웃</a>
    <br/>

</div>

<div class="details">

    <table>
        <tbody>
            <tr>
                <th>아이디</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>연락처</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>가입일</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>이메일 인증</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>비밀번호 초기화</th>
                <td>

                </td>
            </tr>
            <tr>
                <th>관리자 여부</th>
                <td>

                </td>
            </tr>

        </tbody>
    </table>

    <div th:text="${member}"></div>


</div>
</body>
</html>